<configuration>

    <!-- Pega o nome da aplicação do Spring -->
    <springProperty name="name" source="spring.application.name"/>
    <!-- Pega a URL do Loki do application.properties ou variável de ambiente -->
    <springProperty name="lokiUrl" source="vars.URL_LOKI"/>
    <springProperty name="podName" source="POD_NAME"/>
    <springProperty name="podNamespace" source="POD_NAMESPACE"/>

    <!-- Loki Appender -->
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <!-- Usa a variável definida -->
            <url>${lokiUrl}</url>
        </http>
        <format>
            <label>
                <pattern>app=${name},pod=${podName},namespace=${podNamespace},host=${HOSTNAME},level=%level</pattern>                <readMarkers>true</readMarkers>
            </label>
            <message>
                <pattern>
                    {
                    "level":"%level",
                    "class":"%logger{36}",
                    "thread":"%thread",
                    "message":"%message",
                    "requestId":"%X{X-Request-ID}"
                    }
                </pattern>
            </message>
        </format>
    </appender>

    <!-- Console Appender com mesmo formato JSON -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {
                "level":"%level",
                "class":"%logger{36}",
                "thread":"%thread",
                "message":"%message",
                "requestId":"%X{X-Request-ID}"
                }
            </pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="LOKI"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>
