<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http>
            <!-- Parametrizado via env ou application.yaml -->
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <encoder class="com.github.loki4j.logback.encoder.JsonEncoder">
            <labels>
                app=${spring.application.name},host=${HOSTNAME},level=%level
            </labels>
            <!-- Não monte JSON manual, use placeholders -->
            <pattern>%d{ISO8601} [%thread] %level %logger{36} - %msg</pattern>
        </encoder>
    </appender>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="LOKI"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
        <appender-ref ref="LOKI"/>
        <appender-ref ref="JSON_CONSOLE"/>
    </logger>

</configuration>
